<!DOCTYPE html>
<html>
  <%- include('head.html')%>
  <body>
    <%- include('nav.html')%>

    <!-- form -->
    <div style="padding-left: 5%; padding-right: 5%">
      <form action="/login" method="POST">
        <br /><br />
        <h4>ID</h4>
        <input type="text" class="form-control" name="id" /><br /><br />
        <h4>Password</h4>
        <input type="password" class="form-control" name="pw" /><br /><br />
        <button type="submit" class="btn btn-primary">Log in</button>
      </form>
    </div>

    <!-- signUp -->
    <div style="padding-left: 5%; padding-right: 5%">
      <form action="/register" method="POST">
        <br /><br />
        <h4>ID</h4>
        <input type="text" class="form-control" name="id" /><br /><br />
        <h4>Password</h4>
        <input type="password" class="form-control" name="pw" /><br /><br />
        <button type="submit" class="btn btn-primary">SignUp</button>
      </form>
    </div>

    <%- include('script.html')%>
  </body>
</html>
