<!DOCTYPE html>
<html>
  <%- include('head.html')%>
  <body>
    <%- include('nav.html')%>

    <h4 class="ml-2 my-3">myPage</h4>
    <img src="/image/test.jpg">

    <%- include('script.html')%>
  </body>
</html>
